sudo: required
language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - jruby-1.7.23
  - jruby-9.0.5.0
jdk:
  - oraclejdk8
before_install:
  - gem install bundler -v 1.11.2
  - sudo add-apt-repository -y ppa:chris-lea/libsodium
  - sudo apt-get update -q
  - sudo apt-get install -y libsodium-dev
env:
  - WITH_MONKEYPATCH=false
  - WITH_MONKEYPATCH=true WITH_RAND=custom
  - WITH_MONKEYPATCH=true WITH_RAND=kernel
